# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
.env
.env.*

# Streamlit cache
.streamlit/

# CSV data files (auto-created by app)
verified_signals.csv
historical_signals.csv
periods.csv
last_update_id.txt

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE / editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
